<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<app-top-nav></app-top-nav>
<!-- <app-login ></app-login> -->


<!-- <mat-toolbar class="nav">
  <div class="container">
      <a routerLink="#" class="mat-button-base">
ROLLOFF
      </a>
      <a routerLink="app-login" id = "logout" *ngIf="!Isloggedin" mat-button  mat-raised-button class="m1-1">Login</a>


      <a routerLink="app-login" id="logout" *ngIf="empservice.Isloggedin" (click)="logout()"  mat-raised-button class="m1-1">Log out</a>
  </div>
  </mat-toolbar> -->


<router-outlet></router-outlet>
<!-- <app-footer></app-footer> -->

