<footer style ="background-color:#17a2b8;

            padding-bottom: 0px;
            padding-top:30 px;
            height: 70px;
            
            width: 100%;
"id="footer">
    <div  class="container">
      <h3 style ="color: white; background-color:#17a2b8">Roll-Off</h3>
      <!-- <p style ="color: white;">The Perfect Platform for the farmers to sell their crops.</p> -->

      <div tyle ="color: white;" class="copyright">
        &copy; Roll-Off <strong><span>Roll-Off</span></strong>. All Rights Reserved
      </div>

    </div>
  </footer><!-- End Footer -->
