<mat-toolbar class="nav">
  <div class="container">
      <a routerLink="#" class="mat-button-base" >
          ROLL OFF
      </a>
      <!-- <a routerLink="app-employees"  mat-raised-button class="m1-1">Employees</a> -->

      <a routerLink="app-register" (click)="register()"  mat-raised-button class="m1-1">Register</a>
      <!-- <a routerLink="app-login" *ngIf="[!IsValid]" mat-raised-button class="m1-1">Login</a> -->

      <!-- <a routerLink="app-login"   mat-raised-button class="m1-1">Logout</a> -->

  </div>
  </mat-toolbar>
  
